@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 15px;
}

.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.txt {
    position: relative;
    display: inline-block;
}

.txt2 {
    position: absolute;
    top: 55%;
    transform: rotateX(180deg);
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    /*imp*/
    -webkit-text-fill-color: transparent;
    /*imp*/
}

.txt span {
    position: relative;
    display: inline-block;
    color: black;
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(0.1s*var(--i));
}

.txt2 span {
    position: relative;
    display: inline-block;
    color: linear-gradient( rgba(27, 212, 89, 0.2));
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(0.1s*var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}